.hot-root{
    margin-top: 20px;
}
.hot-title-wrapper{
    display: flex;
    flex-wrap: wrap;
    color: #555;
    font-size: 14px;
}
.hot-title-content{

    height: 42px;
    padding: 0 15px;
    margin: 0;
    line-height: 42px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.hot-title-content:hover{
    background: #eee;
}
.border-choice{
    height: 41px;
    padding: 0 14px;
    box-sizing: content-box;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.list-div-wrapper{
    border: 1px solid #e8e8e8;
    width: 100%;
    height: 50px;
    margin: 0;
    line-height: 50px;
    padding: 0 24px;
}
